<%= render 'layouts/navbar' %>
<div class="container mt-3 mb-5">
  <h1 class="text-center mb-5">トレーニング入力完了</h1>

  <div class="text-center mb-5">
    <p>
    NICE!! トレーニング！
    <br>
    次のトレーニングを始めよう
    </p>
  </div>
</div>
 <%= render 'layouts/footer' %>